@import url("https://fonts.googleapis.com/css?family=BenchNine:700&display=swap");

.HrClass {
  margin: 0;
  background-color: #b6e4f5;
  border: none;
  height: 1px;
}

.Toolbar {
  justify-content: space-between;
  background-color: #ccc;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

@media (max-width: 499px) {
  .HrClass,
  .DesktopOnly {
    display: none;
  }
  .Toolbar {
    justify-content: space-between;
  }
}

.Tback {
  font-size: 35px;
  font-family: "BenchNine", sans-serif;
}
