@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

.CellStyle {
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  line-height: 40px;
}

.CellStyleButton {
  vertical-align: middle;
}
.HeaderStyle {
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  
}

.OrderDetails {
  font-family: Roboto;
}
