@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.AddItemsForm {
  display: block;
  width: 100%;
}

.FormList {
  list-style: none;
  padding: 3px;
  width: 100% !important;
}
.FormList li {
  display: flex;
  padding: 3px;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  
}

.Font,
.FormList input,
.FormList select {
  font-family: "Roboto", sans-serif;
}

.ButtonDiv {
  margin: 5px;
  width: 100%;
}
