@import url("https://fonts.googleapis.com/css?family=BenchNine:700&display=swap");
.Tb {
  font-family: "BenchNine", sans-serif;
  border-collapse: collapse;
}
.Img {
  width: 100px;
}
.Td {
  font-size: large;
  border-bottom: 1px solid #b6e4f5;
  padding: 0px 20px 0px 10px;
  /* box-sizing: border-box; */
}

.Th {
  font-size: x-large;
  margin: 0px;
  border-bottom: solid 1px #b6e4f5;
  /* box-sizing: border-box; */
  padding: 0px 10px 0px 10px;
}

.Tbutton {
  display: none;
}
