@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr&family=Sriracha&display=swap");
.NavElement {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.NavElement:hover {
  color: #3990af;
}
.ItemsElement {
  opacity: 1;
  position: relative;
  margin: 5px;
  border: solid 1px #b6e4f5;
  width: 300px;
}

.ItemsElement:hover {
  border: solid 1px #09b6f5;
}

.Txt1 {
  height: 43px;
}
.Txt2 {
  margin-bottom: 5px;
}

.Image1 {
  max-height: 290px;
  width: 290px;
  vertical-align: middle;
}
.Image2 {
  max-height: 290px;
  width: 290px;
  vertical-align: middle;
}

.Desc {
  position: absolute;
  display: block;
  opacity: 0;
  bottom: 0px;
  transition: opacity 0.3s ease-out;
  width: 302px;
  text-align: center;
}

.Desc:hover {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.Hide {
  display: none;
}

.TextWrap {
  height: 75px;
  font-family: "Roboto";
}

.Front {
  display: block;
  bottom: 0px;
  width: 302px;
  text-align: center;
}
