.NavElement {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.NavElement:hover {
  color: #3990af;
}
.ItemsElement {
  opacity: 100%;
  position: relative;
  margin: 5px;
  border: solid 1px #b6e4f5;
  width: 300px;
}

.ItemsElement:hover {
  border: solid 1px #09b6f5;
}

.Txt {
  margin-bottom: 10px;
}

.Image1 {
  max-height: 300px;
  width: 300px;
  vertical-align: middle;
}
.Image2 {
  max-height: 300px;
  width: 300px;
  vertical-align: middle;
}

.Desc {
  position: absolute;
  display: block;
  opacity: 0%;
  bottom: 0px;
  transition: opacity 0.3s ease-out;
  width: 300px;
  text-align: center;
}

.Desc:hover {
  opacity: 100%;
  transition: opacity 0.3s ease-out;
}
