@import url("https://fonts.googleapis.com/css?family=BenchNine:700&display=swap");
.OutputDiv {
  width: 400px;
  padding: 2px 5px 5px 5px;
}
.EnterCode {
  width: 400px;
  font-family: "BenchNine", sans-serif;
  font-size: 1.2em;
  text-align: left;
  margin-left: 5px;
}

.QueryDiv {
  text-align: left;
  padding: 5px;
}
.Select {
  font-size: large;
}

.RTable {
  font-family: "BenchNine", sans-serif;
  font-size: x-large;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Auto {
  width: 400px;
}

.WrapperFlex {
  display: flex;
}

.Trans {
  width: 100%;
  border-radius: 4px;
  margin-top: 5px;
}

.CellStyle {
  font-family: "BenchNine", sans-serif;
  font-size: 20px;
}

.ImgHide {
  display: none;
}
.ImgShow {
  display: block;
  max-width: 400px;
}

.NewEntry {
  box-sizing: border-box;
  padding-top: 9px;
  text-align: left;
  height: 73px;
}
