.Th {
  border: solid 1px black;
}
.TableDiv {
  width: 60%;
  display: inline-block;
  left: 0;
}

.Control {
  height: 500px;
  width: 33%;
  margin-right: 60px;
  border: solid 1px #ccc;
  display: inline-block;
  border-radius: 10px;
}

.Wrapper {
  display: flex;
  justify-content: space-between;
}
