.DrawerToggle {
  width: 35px;
  height: 60%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: width 0.2s ease-out;
}
.DrawerToggle:hover {
  width: 45px;
  height: 60%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: width 0.2s ease-out;
}

.DrawerToggle div {
  width: 90%;
  height: 2px;
  background-color: #ccc;
}
.DrawerToggle div {
  width: 90%;
  height: 2px;
}

@media (min-width: 500px) {
  .DrawerToggle {
    display: none;
  }
}
