@import url("https://fonts.googleapis.com/css2?family=Mitr&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.Hide {
  display: none;
}
.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a,
.NavigationItem img {
  color: black;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  font-size: larger;
  font-family: "Roboto", "Sriracha";
  transition: color 0.4s ease-out;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #3990af;
  transition: color 0.4s ease-out;
}
.Cart {
  width: 50px;
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    transition: color 0.3s ease-out;
  }

  .NavigationItem a {
    color: black;
    height: 100%;
    padding: 16px 20px;
    padding-top: 32px;
    border-bottom: 4px solid transparent;
    transition: color 0.3s ease-out;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    color: #3990af;
    border-bottom: 2px solid #3990af;
    transition: color 0.3s ease-out;
  }
}
