.Font,
.Font button,
.Font select {
  font-family: "Roboto", sans-serif;
  
}

.FontInput {
  border: dotted black 1px;
  padding: 2px;
}
.Image {
  width: 100%;
}

.ButtonDiv {
  margin: 5px;
  width: 100%;
}
