@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.Th {
  border: solid 1px black;
}

.Control {
  height: 659px;
  width: 33%;
  margin-right: 40px;
  margin-left: 20px;
  border: solid 1px #ccc;
  display: inline-block;
  border-radius: 10px;
  text-align: left;
}

.Wrapper {
  display: flex;
  justify-content: space-between;
}
.TextField {
  width: 90% !important;
}

.AddButton {
  padding: 20px;
  box-sizing: border-box;
}

.ShowInputFile {
  display: block;
}

.FormDiv {
  display: block;
  margin: 15px;
}

.FormList {
  list-style: none;
}

.FormList li {
  font-family: "Roboto", sans-serif;
  font-size: larger;
}

.FormList input {
  font-family: "Roboto", sans-serif;
  font-size: larger;
}
.Font {
  font-family: "Roboto", sans-serif;
  font-size: larger;
}
