@import url("https://fonts.googleapis.com/css?family=Lexend+Tera|Monda:700&display=swap");
.ImageDiv {
  position: relative;
  display: inline-block;
  left: 50px;
  border: 1px solid #b6e4f5;
}

.Wrapper {
  display: flex;
}

.Text {
  vertical-align: top;
  display: inline-block;
  position: relative;
  text-align: left;
  left: 80px;
}

.HrClass {
  margin: 0;
  background-color: #b6e4f5;
  border: none;
  height: 1px;
}

.PDtail {
  font-family: sans-serif;
}

.PDesc {
  font-family: "Lexend Tera", sans-serif;
}
.PName {
  font-family: "Monda", sans-serif;
}

.PPrice {
  font-family: sans-serif;
}
.PSize {
  font-family: sans-serif;
}

.PathName {
  text-align: left;
  margin-bottom: 40px;
  margin-left: 50px;
}
