@import url("https://fonts.googleapis.com/css?family=Lexend+Tera|Monda:700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr&family=Sriracha&display=swap");
.ImageDiv {
  position: relative;
  display: inline-block;
  /* left: 50px; */
  border: 1px solid #b6e4f5;
}

.Wrapper {
  display: flex;
  animation: trans 0.3s ease-out forwards;
}

.Text {
  vertical-align: top;
  display: inline-block;
  position: relative;
  text-align: left;
  left: 10px;
  max-width: 450px;
}

.Stock {
  padding-top: 10px;
  position: relative;
  width: 550px;
}
.HrClass {
  margin: 0;
  background-color: #b6e4f5;
  border: none;
  height: 1px;
}

.PDtail {
  font-family: sans-serif;
}

.PDesc {
  font-family: "Lexend Tera", sans-serif;
}
.PName {
  font-family: "Monda", "Sriracha", "roboto";
  font-size: larger;
}

.PPrice {
  font-family: "roboto", "Sriracha";
  font-size: larger;
}
.PSize {
  font-family: "roboto", "Sriracha";
  font-size: larger;
}

.PathName {
  text-align: left;
  margin-bottom: 40px;
  margin-left: 50px;
}

.Desc {
  position: absolute;
  display: block;
  opacity: 0;
  bottom: 0px;
  transition: opacity 0.3s ease-out;
  width: 300px;
  text-align: center;
}
.Desc:hover {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.ImageDiv img {
  max-width: 350px;
}

.StockColumns {
  font-family: "Lexend Tera", sans-serif;
  vertical-align: middle;
}

.Hide {
  display: none;
}
.BorderDetails {
  border: 1px solid #b6e4f5;
  margin: 3px 0px 3px 0px;
}
.MoreDetails {
  text-align: left;
  display: flex;
  padding: 3px;
  font-family: "Roboto", "Sriracha";
  cursor: pointer;
  justify-content: space-between;
}
.MoreDetailsHide {
  text-align: left;
  max-width: 550px;
  transform: scaleY(0);
  max-height: 0;
}

.MoreDetailsShow {
  text-align: left;
  font-family: "Roboto", "Sriracha";
  animation: roll 0.26s ease-out forwards;
  font-size: 1.2em;
  max-width: 550px;
}

.Show {
  margin-left: 15px;
  display: block;
}

.Trans {
}
.ImgAndText {
  display: flex;
  justify-content: flex-start;
}

@keyframes trans {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes roll {
  0% {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.26s ease-out;
  }

  100% {
    transform: scaleY(1);
  }
}
