@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

.CellStyle {
  vertical-align: middle;
  font-family: "Roboto", sans-serif;

}

.CellStyleButton {
  vertical-align: middle;
}
.HeaderStyle {
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  
}

.UpdateDeleteForm {
  display: inline-flex;
  width: 350px;
}

.Font {
  font-family: "Roboto", sans-serif;
  
}

.Trans {
  animation: trans 0.3s ease-out forwards;
}

@keyframes trans {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
