@import url("https://fonts.googleapis.com/css?family=BenchNine:700&display=swap");
.Ul {
  font-family: "BenchNine", sans-serif;
  font-size: x-large;
  list-style: none;
  text-align: left;
  padding: 5px;
}

.Ul li {
  display: flex;
  justify-content: space-between;
}

.Ul input,
.Ul button {
  font-family: "BenchNine", sans-serif;
  font-size: x-large;
}

.Ul button {
  margin: 0px 40px 0px 40px;
}
