@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

.Font select,
.Font input,
.Font {
  font-family: "Roboto", sans-serif;
  
}
.Title {
  font-family: "Roboto", sans-serif;
}

.StockColumns {
  font-family: "Lexend Tera", sans-serif;
}

.Flist {
  list-style: none;
  width: 400px;
  margin: 0px;
}
.Flist li {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.TextField {
  width: 80%;
}