@import "~react-image-gallery/styles/css/image-gallery.css";
.Outer {
  display: block;
  animation: trans 0.3s ease-out forwards;
}

@keyframes trans {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
