@import url("https://fonts.googleapis.com/css2?family=Montez&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr&family=Sriracha&display=swap");
.Wrapper {
  display: inline-block;
  width: 85%;
}

.Trans {
  animation: trans 0.3s ease-out forwards;
}

@keyframes trans {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.FirstHeader {
  font-family: "Montez", cursive;
  font-size: 4em;
  margin-bottom: 0px;
}

.FirstHeaderT {
  font-family: "Sriracha", cursive;
  font-size: 4em;
  margin-bottom: 0px;
}

.FirstDiv {
  display: block;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.FirstDivT {
  display: block;
  justify-content: space-between;
  padding: 20px 0 px 20px 0px;
  align-items: center;
}

.FirstDiv input,
.FirstDiv textarea {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  padding: 10px;
  margin: 20px 0px 20px 0px;
}

.FirstDivT input,
.FirstDivT textarea {
  font-family: "Sriracha", cursive;
  font-size: x-large;
  padding: 10px;
  margin: 20px 0px 20px 0px;
}
.FirstHeaderT {
  font-family: "Sriracha", cursive;
  font-size: 4em;
  margin-bottom: 0px;
}
.FirstDiv textarea {
  width: 400px;
}

@media (max-width: 400px) {
  .Wrapper {
    width: 100%;
  }
  .FirstDiv input,
  .FirstDiv textarea {
    width: 258px;
  }
  .FirstDivT input,
  .FirstDivT textarea {
    width: 258px;
  }
}
