@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.UpdateOrderForm {
  display: inline-flex;
  width: 500px;
}

.FormList {
  width: 450px;
  list-style: none;
  padding: 3px;
}
.FormList li {
  display: flex;
  padding: 3px;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  
}

.Font,
.FormList input,
.FormList select {
  font-family: "Roboto", sans-serif;
  
}
