@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr&family=Sriracha&display=swap");
.PathCss {
  font-family: "Roboto", "Sriracha";
  text-decoration: none;
  color: rgb(179, 178, 178);
}

.PathCss:hover,
.PathCss:active,
.PathCss.active {
  color: black;
}

.Strong {
  color: black;
  font-size: large;
}
