.Blk {
  margin-top: 90px;
  text-align: center;
}

.Mail {
  display: inline-block;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
  font-family: "Work Sans", sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  margin-left: 20px;
  padding-top: 10px;
  vertical-align: middle;
}
.Mail:hover {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.Facebook {
  display: inline-block;
  width: 2em;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
}
.Facebook:hover {
  width: 2em;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

@media (max-width: 499px) {
  .Blk {
    display: block;
  }
  .Mail {
    display: inherit;
    margin-left: 0px;
  }
  .Facebook {
    display: inherit;
    margin-left: 0px;
  }
}
