.FormList {
  list-style: none;
  padding: 3px;
  width: 350px;
}
.FormList li {
  display: flex;
  padding: 3px;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  
}

.Font,
.FormList input,
.FormList select {
  font-family: "Roboto", sans-serif;
  
}
.deleteVariationForm {
  display: inline-flex;
  width: 350px;
}
