@import url("https://fonts.googleapis.com/css?family=BenchNine:900&display=swap");
.PathCss {
  text-decoration: none;
  color: rgb(179, 178, 178);
}

.PathCss:hover,
.PathCss:active,
.PathCss.active {
  color: black;
}

.Strong {
  font-family: "BenchNine", sans-serif;
  color: black;
}
