@import url("https://fonts.googleapis.com/css?family=BenchNine:700&display=swap");
.Wrapper {
  display: block;
}

.addProduct {
  align-items: center;
  text-align: left;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
}



.AddItemsForm {
  display: inline-flex;
  width: 350px;
}

.FormList {
  list-style: none;
  padding: 3px;
}
.FormList li {
  display: flex;
  padding: 3px;
  justify-content: space-between;
  font-family: "BenchNine", sans-serif;
  font-size: x-large;
}

.Font,
.Font button,
.Font select {
  font-family: "BenchNine", sans-serif;
  font-size: x-large;
}
.Font input{
  border:"dotted black 1px";
  padding: "2px";
}
